<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170838114822-7ulfotevovsmh9ntemqvorlm6e1v1leu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170838114822-7ulfotevovsmh9ntemqvorlm6e1v1leu</string>
	<key>API_KEY</key>
	<string>AIzaSyBzR71DGTc_3LfKoY1Ta5VaskSL5d6zdR0</string>
	<key>GCM_SENDER_ID</key>
	<string>170838114822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ines.vip</string>
	<key>PROJECT_ID</key>
	<string>vip-vision</string>
	<key>STORAGE_BUCKET</key>
	<string>vip-vision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170838114822:ios:c63e36112ef51496fbb987</string>
	<key>DATABASE_URL</key>
	<string>https://vip-vision.firebaseio.com</string>
</dict>
</plist>